<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/authors.css}">
	<meta name="_csrf" th:content="${_csrf.token}">

<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<script th:src="@{/js/authors.js}" defer></script>
</head>

<body>
	<div id="container">
		<section class="card">
			<h1>Author Management</h1>
			<p id="message" hidden="hidden"></p>
			
			<form id="author-form">
				<input type="text" id="author-id">
				<div class="form-group">
					<label for="author-first-name">
								First name	
					</label>
					<input type="text" id="author-first-name" required="required">
				</div>
				
				<div class="form-group">
					<label for="author-last-name">
						Last name
					</label>
					<input type="text" id="author-last-name" required="required"> 
				</div>
				
				<div class="form-group">
					<label for="author-bio">
						Author Bio
					</label>
					<textarea id="author-bio" rows="5"></textarea>
				</div>
				
				<div class="form-actions">
					<button type="submit" id="save-button">Save Author</button>
					<button type="button" id="cancel-button" hidden="hidden">Cancel</button>				
				</div>
			</form>
		</section>
		<hr>
		
		<section class="card">
			<h2>Authors</h2>
			<table border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Bio</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="author-table-body">
					
				</tbody>
			</table>		
		</section>
	</div>
</body>
</html>