<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/customer-order.css}">
<title>My Orders</title>
</head>
<body>
	<header class="site-header">
		<div class="container nav">
			<a th:href="@{/shop}" class="logo">Bookstore</a>
			<nav>
				<a th:href="@{/shop}">
					Shop
				</a>
				<a th:href="@{/customer/cart}">
					Card
				</a>
				<a th:href="@{/customer}">
					Dashboard
				</a>
			</nav>
		</div>
	</header>
	
	<main class="container">
		<div class="page-header">
			<div>
				<h1>My Orders</h1>
				<p>View your order history and current status</p>
			</div>
			<a class="button" th:href="@{/shop}">
				Continue shopping	
			</a>
		</div>
		<section class="empty-state" th:if="${#lists.isEmpty(orders)}">
			<h2>No orders yet</h2>
			<p>You have not placed any orders </p>
			<a class="button" th:href="@{/shop}">Browse Books</a>
		</section>
		<section class="orders" th:unless="${#lists.isEmpty(order)}">
   			<article class="order-card" th:each="order: ${orders}">
   				<div class="order-main">
   					<h2>Order # <span th:text="${order.id}"></span> </h2>
   					<p class="muted">Placed <span th:text="${order.createdAt}"></span>
   				</div>
   				<div>
   					<span class="status-badge" th:text="${order.status}">PENDING</span>
   				</div>
   				<div class="order-total">
   					<span class="muted">
   						Total
   					</span>
   					<strong th:text="${order.totalAmount + ' $'">
   						0 $
   					</strong>
   				</div>
   				<div>
   					<a class="details-link" th:href="@{/customer/orders/{id} (id=${order.id})}">
   						View Details
   					</a>
   				</div>
   			</article>		
		</section>
	</main>
</body>
</html>